<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button class="botao" routerLink="/criarPensamento">
      Adicionar pensamento
    </button>
  </header>
  <!--  Diretiva do Angular *ngIf -->
  <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos" >
    <!-- Diretiva do Angular *ngFor -->
    <div *ngFor="let pensamento of listaPensamentos">
      <!-- PropertyBinding - Recebe o atributo pensamento do app-pensamento  -->
      <app-pensamento [pensamento]="pensamento" ></app-pensamento>
    </div>
  </div>
</section>

<!-- Elemento ng-template / # define o nome -->
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>
